---
import ContactForm from "../components/ContactForm";
import ProjectCard from "../components/ProjectCard.astro";
import Technologies from "../components/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scott Semtner">
	<div class="hero min-h-screen">
		<div class="hero-content">
			<div>
				<h1 class="text-5xl font-bold">Hi.</h1>
				<h1 class="text-6xl font-extrabold">
					I'm <span class="text-7xl text-primary">Scott Semtner</span>
				</h1>
				<h1 class="text-4xl font-semibold">Computer Science Student @ UCSD</h1>

				<div class="flex-row my-8">
					<a class="btn btn-primary me-4" href="#technologies">Learn More</a>
					<a class="btn btn-primary" href="#contact">Contact Me</a>
				</div>
			</div>
		</div>
	</div>

	<Technologies />

	<div class="divider mx-16"></div>

	<section id="experience" class="py-12 md:py-20 lg:py-32 flex justify-center">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="text-6xl font-bold my-4">Experience</h1>

			<div class="ps-4 my-16">
				<div class="flex flex-col md:flex-row justify-between mb-4">
					<h2 class="text-3xl font-semibold">Vivid-Hosting</h2>
					<h2 class="text-xl italic">Software Engineer</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>Working on a web portal to manage hundreds of mobile proxies</li>
					<li>Creating tools to monitor internal infrastructure</li>
					<li>
						Started as an intern, currently working part time during school
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="projects" class="py-12 md:py-20 lg:py-32 flex justify-center">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="text-6xl font-bold my-4">Projects</h1>

			<div class="p-2">
				<ProjectCard
					title="Example Project"
					description="This is an example project"
					deploymentUrl="https://google.com"
					sourceUrl="https://github.com"
					tags={["React", "TailwindCSS", "Astro"]}
				/>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="education" class="py-12 md:py-20 lg:py-32 flex justify-center">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="text-6xl font-bold my-4">Education</h1>

			<div class="ps-4 my-16">
				<div class="flex flex-col md:flex-row justify-between mb-4">
					<h2 class="text-3xl font-semibold">UCSD</h2>
					<h2 class="text-xl italic">Incoming First-Year Student</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>Computer Science Major</li>
					<li>Regents Scholar</li>
				</ul>
			</div>

			<div class="ps-4 my-16">
				<div class="flex flex-col md:flex-row justify-between mb-4">
					<h2 class="text-3xl font-semibold">High Tech High Mesa</h2>
					<h2 class="text-xl italic">2019 - 2023</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>4.0 UW / 4.4 W</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="contact" class="py-12 md:py-20 lg:py-32 flex justify-center">
		<div
			class="container mx-4 bg-neutral rounded-xl p-2 md:p-8 shadow-md shadow-primary"
		>
			<h1
				class="text-4xl md:text-6xl font-bold my-4 text-center md:text-left text-neutral-content"
			>
				Contact Me
			</h1>

			<div class="lg:mx-32 mx-4 my-8">
				<ContactForm client:visible />
			</div>
		</div>
	</section>
</Layout>

<script></script>
