---
import ContactForm from "../components/ContactForm";
import ProjectCard from "../components/ProjectCard.astro";
import Technologies from "../components/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scott Semtner">
	<div class="hero min-h-screen">
		<div class="hero-content">
			<div>
				<h1 class="text-5xl font-bold">Hi.</h1>
				<h1 class="text-6xl font-extrabold">
					I'm <span class="text-7xl text-primary">Scott Semtner</span>
				</h1>
				<h1 class="text-4xl font-semibold">Computer Science Student @ UCSD</h1>

				<div class="my-8">
					<a class="btn-primary btn me-4" href="#technologies">Learn More</a>
					<a class="btn-primary btn" href="#contact">Contact Me</a>
				</div>

				<div class="flex gap-4">
					<a
						href="https://linkedin.com/in/scott-semtner/"
						target="_blank"
						class="btn-ghost btn"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 50 50"
							class="h-10 w-10 fill-current"
						>
							<path
								d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
							>
							</path>
						</svg>
					</a>
					<a
						href="https://github.com/ssemtner/"
						target="_blank"
						class="btn-ghost btn"
					>
						<svg
							viewBox="0 0 24 24"
							aria-hidden="true"
							class="h-10 w-10 fill-current"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z"
							>
							</path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>

	<Technologies />

	<div class="divider mx-16"></div>

	<section id="experience" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="my-4 text-6xl font-bold">Experience</h1>

			<div class="my-16 ps-4">
				<div class="mb-4 flex flex-col justify-between md:flex-row">
					<h2 class="text-3xl font-semibold">Vivid-Hosting</h2>
					<h2 class="text-xl italic">Software Engineer</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>Working on a web portal to manage hundreds of mobile proxies</li>
					<li>Creating tools to monitor internal infrastructure</li>
					<li>
						Started as an intern, currently working part time during school
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="projects" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="my-4 text-6xl font-bold">Projects</h1>

			<div class="center flex flex-wrap justify-between gap-8 p-2">
				<ProjectCard
					title="Robotics Team Code"
					description="I heavily contributed to my high school robotic's teams code."
					deploymentUrl="https://team1538.com/site/rapidreach/"
					deploymentUrlLabel="Robot Showcase"
					sourceUrl="https://github.com/theholycows/1538_2023"
					tags={["C++", "WPILib", "FRC"]}
				/>
				<ProjectCard
					title="Slice"
					description="A website to easily edit and share video clips."
					deploymentUrl="https://slice.scottsemtner.com"
					sourceUrl="https://github.com/ssemtner/slice"
					tags={["Python", "Django", "Oracle Cloud", "JavaScript", "TailwindCSS", "HTMX"]}
				/>
				<ProjectCard
					title="Personal Site"
					description="The site you're on right now!"
					deploymentUrl="https://scottsemtner.com"
					sourceUrl="https://github.com/ssemtner/personal-site"
					tags={["Astro", "TailwindCSS", "Astro"]}
				/>
				<ProjectCard
					title="Spades Game"
					description="A single player spades game created with sveltekit"
					deploymentUrl="https://playspades.vercel.app"
					sourceUrl="https://github.com/ssemtner/spades"
					tags={["SvelteKit", "TailwindCSS", "Svelte"]}
				/>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="education" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="my-4 text-6xl font-bold">Education</h1>

			<div class="my-16 ps-4">
				<div class="mb-4 flex flex-col justify-between md:flex-row">
					<h2 class="text-3xl font-semibold">UCSD</h2>
					<h2 class="text-xl italic">Incoming First-Year Student</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>Computer Science Major</li>
					<li>Regents Scholar</li>
				</ul>
			</div>

			<div class="my-16 ps-4">
				<div class="mb-4 flex flex-col justify-between md:flex-row">
					<h2 class="text-3xl font-semibold">High Tech High Mesa</h2>
					<h2 class="text-xl italic">2019 - 2023</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>4.0 UW / 4.4 W</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="contact" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div
			class="container mx-4 rounded-xl bg-neutral p-2 shadow-md shadow-primary md:p-8"
		>
			<h1
				class="my-4 text-center text-4xl font-bold text-neutral-content md:text-left md:text-6xl"
			>
				Contact Me
			</h1>

			<div class="mx-4 my-8 lg:mx-32">
				<ContactForm client:visible />
			</div>
		</div>
	</section>
</Layout>

<script></script>
