---
import Technologies from "../components/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hi.</h1>
		<h2>I'm Scott</h2>
		<h3>Computer Science Student at UCSD</h3>

		<section>Projects</section>
		
		<section>Experience</section>
		
		<section>Skills</section>
		
		<section>Education</section>

		<Technologies
			imagesUrls={new Array(10).fill(
				"https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/800px-ISO_C%2B%2B_Logo.svg.png"
			)}
		/>
	</main>
</Layout>
