---
import ContactForm from "../components/ContactForm";
import ProjectCard from "../components/ProjectCard.astro";
import Technologies from "../components/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scott Semtner">
	<div class="hero min-h-screen">
		<div class="hero-content">
			<div>
				<h1 class="text-5xl font-bold">Hi.</h1>
				<h1 class="text-6xl font-extrabold">
					I'm <span class="text-7xl text-primary">Scott Semtner</span>
				</h1>
				<h1 class="text-4xl font-semibold">Computer Science Student @ UCSD</h1>

				<div class="my-8 flex-row">
					<a class="btn-primary btn me-4" href="#technologies">Learn More</a>
					<a class="btn-primary btn" href="#contact">Contact Me</a>
				</div>
			</div>
		</div>
	</div>

	<Technologies />

	<div class="divider mx-16"></div>

	<section id="experience" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="my-4 text-6xl font-bold">Experience</h1>

			<div class="my-16 ps-4">
				<div class="mb-4 flex flex-col justify-between md:flex-row">
					<h2 class="text-3xl font-semibold">Vivid-Hosting</h2>
					<h2 class="text-xl italic">Software Engineer</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>Working on a web portal to manage hundreds of mobile proxies</li>
					<li>Creating tools to monitor internal infrastructure</li>
					<li>
						Started as an intern, currently working part time during school
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="projects" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="my-4 text-6xl font-bold">Projects</h1>

			<div class="flex flex-wrap justify-between gap-8 p-2">
				<ProjectCard
					title="Robotics Team Code"
					description="I heavily contributed to my high school robotic's teams code."
					deploymentUrl="https://team1538.com/site/rapidreach/"
					deploymentUrlLabel="Robot Showcase"
					sourceUrl="https://github.com/theholycows/1538_2023"
					tags={["C++", "WPILib", "FRC"]}
				/>
				<ProjectCard
					title="Personal Site"
					description="The site you're on right now!"
					deploymentUrl="https://scottsemtner.com"
					sourceUrl="https://github.com/ssemtner/personal-site"
					tags={["Astro", "TailwindCSS", "Astro"]}
				/>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="education" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div class="container mx-4 p-2 md:p-8">
			<h1 class="my-4 text-6xl font-bold">Education</h1>

			<div class="my-16 ps-4">
				<div class="mb-4 flex flex-col justify-between md:flex-row">
					<h2 class="text-3xl font-semibold">UCSD</h2>
					<h2 class="text-xl italic">Incoming First-Year Student</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>Computer Science Major</li>
					<li>Regents Scholar</li>
				</ul>
			</div>

			<div class="my-16 ps-4">
				<div class="mb-4 flex flex-col justify-between md:flex-row">
					<h2 class="text-3xl font-semibold">High Tech High Mesa</h2>
					<h2 class="text-xl italic">2019 - 2023</h2>
				</div>
				<ul class="list-disc ps-8 text-xl">
					<li>4.0 UW / 4.4 W</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="divider mx-16"></div>

	<section id="contact" class="flex justify-center py-12 md:py-20 lg:py-32">
		<div
			class="container mx-4 rounded-xl bg-neutral p-2 shadow-md shadow-primary md:p-8"
		>
			<h1
				class="my-4 text-center text-4xl font-bold text-neutral-content md:text-left md:text-6xl"
			>
				Contact Me
			</h1>

			<div class="mx-4 my-8 lg:mx-32">
				<ContactForm client:visible />
			</div>
		</div>
	</section>
</Layout>

<script></script>
