---
import { Image } from "@astrojs/image/components";

const images = [
	{
		name: "C++",
		url: "/images/technologies/cpp.svg",
	},
	{
		name: "TypeScript",
		url: "/images/technologies/typescript.svg",
	},
	{
		name: "Python",
		url: "/images/technologies/python.svg",
	},
	{
		name: "Flask",
		url: "/images/technologies/flask.svg",
	},
	{
		name: "React",
		url: "/images/technologies/react.svg",
	},
	{
		name: "Astro",
		url: "/images/technologies/astro.svg",
	},
	{
		name: "Tailwind",
		url: "/images/technologies/tailwind.svg",
	},
	{
		name: "Rust",
		url: "/images/technologies/rust.svg",
	},
	{
		name: "OCaml",
		url: "/images/technologies/ocaml.svg",
	}
];
---

<section id="technologies" class="pt-16">
	<div
		class="mb-16 flex flex-wrap-reverse content-evenly justify-evenly gap-8 bg-base-300 p-8"
	>
		{
			images.map((image) => (
				<div
					class="tooltip-primary tooltip tooltip-bottom flex-shrink-0 select-none "
					data-tip={image.name}
				>
					<Image
						src={image.url}
						alt={image.name}
						format="svg"
						width={64}
						height={64}
						class="scale-100"
						draggable={false}
					/>
				</div>
			))
		}
	</div>
</section>
